.container{
    background: #50514F;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
.card{
    color: #FFFCFF;
    font-size: 24px;

    background: #247ba0;
    width: 400px;
    height: 220px;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    -webkit-box-shadow: 0px -4px 39px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -4px 39px -9px rgba(0,0,0,0.75);
    box-shadow: 0px -4px 39px -9px rgba(0,0,0,0.75);
}
.cardNumber{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}